.gameplay-col {
    font-family: 'Cinzel', serif;
}

.jumbotron {
    font-family: 'Cinzel', serif;
}

.game {
    width: 800px;
    margin: 0 auto;
    height: 700px;
}


.jumbotron {
    color: white;
    background-color: black;
}

.gameplay-col {
    border: double;
}

#game-image {
    float: right;
    margin: 0 auto; 

}

.container {
    text-align: center;
}

.row {
    height: 575px;
}

.display-col {
    border: double;
}